body {
    background-color: #003049;
    color: #EAE2B7;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
}

#inputBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
    background: #EAE2B7;
}

#cmd {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #003049;
    background-color: #EAE2B7;
}

#cmd:focus {
    outline: none;
    box-shadow: 0 0 0 2px #94B0DA;
}

.color-red {
    color: #D62828;
}

.color-orange {
    color: #F77F00;
}

.color-yellow {
    color: #F4D06F;
}

.color-green {
    color: #47682C;
}

.color-blue {
    color: #5BC0EB;
}

.color-purple {
    color: #A833B9;
}

.color-cyan {
    color: #06BCC1;
}

.action-link {
    text-decoration: none;
    cursor: pointer;
    color: #FCBF49;
}

.action-link:hover {
    text-decoration: underline;
}